name: Package Addon

on:
  push:
    branches: [ main ]
    tags: [ "*" ]

jobs:
  release:
    runs-on: ubuntu-latest

    env:
      GITHUB_OAUTH: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Clone project
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Package and release Classic
        uses: BigWigsMods/packager@v2
        with:
          args: -g classic

      - name: Package and release BCC
        uses: BigWigsMods/packager@v2
        with:
          args: -g bcc

      - name: Package and release Wrath
        uses: BigWigsMods/packager@v2
        with:
          args: -g wrath

      - name: Stage releases
        run: |
          cd .release
          mkdir -p ./ftp/

          cp RXPGuides/CHANGELOG.md ./ftp/

          for game in wrath bcc classic; do
            zip=$(ls RXPGuides-*${game}.zip)

            cp "${zip}" "./ftp/RXPGuides-latest-${game}.zip"

            # Lazy check if alpha (RXPGuides-v4.1.3b-75-gdcd9f95-bcc) vs (RXPGuides-v4.1.3b-bcc)
            if (( $(awk -F'-' '{print NF-1}' <<< "${zip}") > 2 )); then
              echo "FTP_DIR=dev" >> $GITHUB_ENV
            else
              echo "FTP_DIR=beta" >> $GITHUB_ENV
            fi
          done

          cd ..

      - name: Upload files
        uses: SamKirkland/FTP-Deploy-Action@4.3.0
        with:
          server: ${{ secrets.FTP_HOST }}
          username: ${{ secrets.FTP_USER }}
          password: ${{ secrets.FTP_PASSWORD }}
          local-dir: .release/ftp/
          server-dir: ${{ env.FTP_DIR }}/addon/
